* {
    box-sizing: border-box;    
}

#contact-section {
    background-color: white;
    color: black;
    margin: 2rem 0 1rem 0;
    padding: 0;
    height: 380px;
    display: flex;
    justify-content: center;
    font-family: 'avenir';
}

#section-seperator {
    border-bottom: 3px solid white;
    width: 1100px;
    margin-bottom: 2rem;
}

#contact-title {
    text-align: center;
}


#contact-title h2 {
    margin-bottom: 1rem;
    font-size: 3rem;
}

#cta {
    display: flex;
    justify-content: center;
}

#cta div {
    margin: 0 1.3rem;
    margin-bottom: 1.4rem;
    transform: scale(1.5);
    transition: ease 0.4s;
}

#cta div:hover { 
    transform: scale(1.8);
}

#cta div a {
    display: flex;
    justify-content: center;
}

#contact-info {
    text-align: center;
    margin-top: 1.5rem;
}

@media (max-width: 950px) {
    #contact-section {
      display: none;
    }
  }