@font-face {
    font-family: 'titleFont';
    font-style: normal;
    font-weight: normal;
    src: local('Regatto Bold'), url('../fonts/Regatto.woff') format('woff');
    }
  
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    background-color: black;
    height: 700px;
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    font-family: 'avenir';
}

h2 {
    font-family: 'titleFont';
    font-size: 2.5rem;
}

#main-right {
    width: 250px;
    margin-left: 11rem;
    padding-left: 9rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
}

#main-right img:first-child {
    animation: laptop-float 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#main-right img:nth-child(2) {
    position: relative;
    right: 200px;
    top: 70px;
    animation: shadow 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes shadow {
    0% {
      transform: scaleX(1); 
      opacity: 60%;
    }
    50% {
        transform: scaleX(0.95);
        opacity: 100%;
    }
    100% {
        transform: scaleX(1);
        opacity: 60%;
    }
}

@keyframes laptop-float {
    0% {
      transform: translateY(20px);  
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(20px);
    }
}

#main-left {
    width: 600px;
}

#main-left h2 {
    margin-top: 10rem;
    margin-bottom: 2rem;
}
#cta{
    display: flex;
    justify-content: flex-start;
    margin-top: 3.5rem;
}

#github-button, #linkedin-button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    overflow: hidden;
    margin: 0rem 2rem;
}

#cta img {
    width: 50%;
    height: auto;
}

#connect-btn {
    padding: 0rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-right: 2rem;
    width: 220px;
    height: 55px;
    background: linear-gradient(135deg,#535DBB, #2F5DB7);
    color: white;
    font-family: 'avenir-black';
    font-size: 1.1rem;
    border: none;
    transition: ease 0.4s;
}

#connect-btn:hover {
    transform: translateY(-8px);
}



@media only screen and (max-width: 1300px) {
        #connect-btn {
            width: 200px;
            height: 50px;
            font-size: 1rem;
        }
        #main-left {
            padding-left: 5rem;
            width: auto
        }
}
@media (max-width: 950px) {
    main {
      display: none;
    }
  }
/* @media only screen and (max-width: 950px) {
    #connect-btn {
        width: 200px;
        height: 50px;
        font-size: 1rem;
    }
    main {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    #main-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: blue;
    }
    #main-left h2 {
        text-align: center;
        margin-right: 0;
        margin-left: 0;
    }
    #main-left p {
        text-align: center;
    }
} */