@font-face {
  font-family: 'titleFont';
  font-style: normal;
  font-weight: normal;
  src: local('Regatto Bold'), url('./fonts/Regatto.woff') format('woff');
  }


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-padding-top: 150px;
  scroll-behavior: smooth;
}

h1 {
  font-family: "titleFont";
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

body {
  background-color: white;
}

nav {
  padding: 2rem;
  background-color: white;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 100;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  padding: 0.5rem 4rem;
  font-family: "Avenir";
  font-weight: 600;
  font-size: 1rem;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

nav ul li a:hover {
  color: grey;
}

#nav-left {
  padding-right: 5rem;
}

#nav-right {
  padding-left: 5rem;
}

#footer-ctn {
  background: linear-gradient(135deg,#535DBB, #2F5DB7);
  font-family: 'Avenir';
  font-size: 0.8rem;
  color: white;
  padding: 0.8rem;
  text-align: center;
}
#nav-btn {
  display: none;
}

#construction {
  display: none;
}
/*
div {
  border-color: red;
  border-width: 2px;
  border-style: solid;
}*/

@media (max-width: 1300px) {

  nav ul li {
    padding: 0.5rem 2rem;
  }

}

@media (max-width: 950px) {
  nav, footer {
    display: none;
  }
  #construction {
    display: block;
    width: 90%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    animation: floating 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  @keyframes floating {
    0% {
      opacity: 0;  
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
}

/* @media (max-width: 950px) {
  nav {
    background-color: white;
  }
  #navbar-name h1 {
    font-size: 1.2rem;
  }
  #navbar-name {
    display: flex;
    align-items:center;
  }
  #nav-left {
    padding-right: 0.5rem;
  }
  #nav-right {
    padding-left: 0.5rem;
  }
}

@media (max-width: 750px) {
  nav {
    background-color: white;
  }
  #nav-left, #nav-right {
    display: none;
  }
  #navbar-name {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #nav-btn {
    display: block;
    background: url('./images/arrow-down.svg') no-repeat center;
    border-radius: 50%;
    border-color: black;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  #dropdown {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 3rem;
    top: 7rem;
    animation: dropdown-opacity 400ms ease 1 both;
  }
  @keyframes dropdown-opacity {
    0% { opacity: 0;}
    100% { opacity: 1;}
  }
  #dropdown ul li {
    margin: 0 auto;
    font-size: 1rem;
    font-weight: 500;
  }
}

@media (max-width: 400px) {
  #dropdown ul li {
    font-size: 0.9rem;
  }
} */